.bg{
    background-image: url('./img/H_1.jpg');
    height: 600%;
    width: 100%;
}
.paperr{
position: absolute;
border: 0.5px solid ;
height:8vh;
background-color: #eb655b;
width:9%;
margin-top: 3%;
border-radius:0 25px 25px 0;
}

